[project]
preferred_structure:
app/ - исходный код приложения
data/ - данные из volumes докера
    data/{service_name}/ - данные для конкретного сервиса
logs/ - логи из volumes докера
    logs/{service_name}/ - логи для конкретного сервиса
docker-compose.yml - файл для запуска проекта
.env - файл для переменных окружения
{service_name}/ - директория для конкретного докер контейнера
    {service_name}/Dockerfile - файл для докер контейнера
    {service_name}/* - папки и файлы конфигов указанных в volumes докера

[instructions]
rules = [
    "Всегда придерживайся указанной структуры папок.",
    "В {service_name}/* всегда создается такая же структура папок и файлов, как и в docker-compose.yml volumes например /etc/nginx/sites-avaible - в {service_name}/nginx/sites-avaible/",
    "Выноси все внешние порты в .env, и используй их в Dockerfile и docker-compose.yml",
    "Используй только докер образы из dockerhub, иначе будет ошибка при запуске проекта",
    "Все имена папок которые относятся к php нэймспэйсам должны быть с большой буквы",
    "Если используется фреймоворки, используй миграции вместо init.sql, так же выполняй миграции каждый раз через Dockerfile",
    "environment в docker-compose.yml не дложен быть, пусть будет только в .env",
    "в php/Dockerfile оставь все операции с composer вместо отдельного запуска через docker run",
    "на весь проект должен быть один .env в корне проекта, пусть фреймворк использует именно его через конфигурацию dotenv_path в composer.json",
    "если используется symfony не создавай файл compose.override.yaml и compose.yaml",
    "все контейнеры должны иметь свою папку в корне {service_name}/ и должны иметь Dockerfile даже если там одна директива FROM",
    "{service_name} должен именоваться именем из FROM без версии только наиминование",
    "если в проекте используются репозитории, то добавляй к имени переменной репозитория Repository и имя должно быть в единственном числе"
]